.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.expr {
  display: flex;
}
.expr .appl {
  margin: 1px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.expr .term, .expr .freeVar {
  padding: 0.2ch;
}
.expr .term:first-child, .expr .freeVar:first-child {
  margin-left: 0.2ch;
}
.expr .term:last-child, .expr .freeVar:last-child {
  margin-right: 0.2ch;
}
.expr .freeVar {
  font-style: italic;
}

.parseError .msg {
  color: #d61002;
  text-decoration: underline;
}
.parseError span.squiggle {
  color: #d67a02;
}
.parseError span.arr {
  color: #d61002;
}

textarea {
  width: 100%;
}

.rulesView table {
  width: auto;
}
.rulesView table tr:first-child td {
  border-top: none;
}
.rulesView table td {
  vertical-align: middle;
}
.rulesView table td .feather {
  width: 18px;
  height: 18px;
}
.rulesView table .ruleControls {
  visibility: hidden;
}
.rulesView table tr:hover .ruleControls {
  visibility: visible;
}

.buttonRow {
  display: flex;
  flex-direction: row;
}
.buttonRow > .btn {
  margin-right: 4px;
}

.historyView {
  font-size: smaller;
}

.arr {
  transition: transform 0.3s ease-in-out;
}
.arr.reverse {
  transform: rotate(-0.5turn);
}

.ruleSwatch0 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #e26f6f;
}

.rewriteFrom0 {
  background-color: #ec9393;
}

.expr .rewriteTo0 {
  border: 3px solid #ae0404;
}

.ruleSwatch1 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #6f90e2;
}

.rewriteFrom1 {
  background-color: #93adec;
}

.expr .rewriteTo1 {
  border: 3px solid #0436ae;
}

.ruleSwatch2 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #b2e26f;
}

.rewriteFrom2 {
  background-color: #c7ec93;
}

.expr .rewriteTo2 {
  border: 3px solid #67ae04;
}

.ruleSwatch3 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #e26fd3;
}

.rewriteFrom3 {
  background-color: #ec93e1;
}

.expr .rewriteTo3 {
  border: 3px solid #ae0499;
}

.ruleSwatch4 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #6fe2ce;
}

.rewriteFrom4 {
  background-color: #93ecdd;
}

.expr .rewriteTo4 {
  border: 3px solid #04ae92;
}

.ruleSwatch5 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #e2ad6f;
}

.rewriteFrom5 {
  background-color: #ecc393;
}

.expr .rewriteTo5 {
  border: 3px solid #ae6004;
}

.ruleSwatch6 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #8c6fe2;
}

.rewriteFrom6 {
  background-color: #a993ec;
}

.expr .rewriteTo6 {
  border: 3px solid #2f04ae;
}

.ruleSwatch7 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #74e26f;
}

.rewriteFrom7 {
  background-color: #96ec93;
}

.expr .rewriteTo7 {
  border: 3px solid #0cae04;
}

.ruleSwatch8 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #e26f95;
}

.rewriteFrom8 {
  background-color: #ec93b0;
}

.expr .rewriteTo8 {
  border: 3px solid #ae043d;
}

.ruleSwatch9 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #6fb7e2;
}

.rewriteFrom9 {
  background-color: #93cbec;
}

.expr .rewriteTo9 {
  border: 3px solid #046fae;
}

.ruleSwatch10 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #d8e26f;
}

.rewriteFrom10 {
  background-color: #e5ec93;
}

.expr .rewriteTo10 {
  border: 3px solid #a0ae04;
}

.ruleSwatch11 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #ca6fe2;
}

.rewriteFrom11 {
  background-color: #d993ec;
}

.expr .rewriteTo11 {
  border: 3px solid #8a04ae;
}

.ruleSwatch12 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #6fe2a8;
}

.rewriteFrom12 {
  background-color: #93ecbf;
}

.expr .rewriteTo12 {
  border: 3px solid #04ae59;
}

.ruleSwatch13 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #e2876f;
}

.rewriteFrom13 {
  background-color: #eca593;
}

.expr .rewriteTo13 {
  border: 3px solid #ae2804;
}

.ruleSwatch14 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #6f79e2;
}

.rewriteFrom14 {
  background-color: #939aec;
}

.expr .rewriteTo14 {
  border: 3px solid #0413ae;
}

.ruleSwatch15 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #9ae26f;
}

.rewriteFrom15 {
  background-color: #b4ec93;
}

.expr .rewriteTo15 {
  border: 3px solid #44ae04;
}

.ruleSwatch16 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #e26fbc;
}

.rewriteFrom16 {
  background-color: #ec93ce;
}

.expr .rewriteTo16 {
  border: 3px solid #ae0476;
}

.ruleSwatch17 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #6fdde2;
}

.rewriteFrom17 {
  background-color: #93e8ec;
}

.expr .rewriteTo17 {
  border: 3px solid #04a7ae;
}

.ruleSwatch18 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #e2c56f;
}

.rewriteFrom18 {
  background-color: #ecd593;
}

.expr .rewriteTo18 {
  border: 3px solid #ae8304;
}

.ruleSwatch19 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #a36fe2;
}

.rewriteFrom19 {
  background-color: #bb93ec;
}

.expr .rewriteTo19 {
  border: 3px solid #5204ae;
}

.ruleSwatch20 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #6fe282;
}

.rewriteFrom20 {
  background-color: #93eca1;
}

.expr .rewriteTo20 {
  border: 3px solid #04ae20;
}
