.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.expr {
  display: flex;
}
.expr .appl {
  display: flex;
  flex-direction: row;
}
.expr .longName::before {
  content: "[";
  font-style: normal;
}
.expr .longName::after {
  content: "]";
  font-style: normal;
}
.expr.borderedTree .appl {
  margin: 1px;
  border: 1px solid black;
  align-items: center;
}
.expr.borderedTree .term, .expr.borderedTree .freeVar {
  padding: 0.2ch;
}
.expr.borderedTree .term:first-child, .expr.borderedTree .freeVar:first-child {
  margin-left: 0.2ch;
}
.expr.borderedTree .term:last-child, .expr.borderedTree .freeVar:last-child {
  margin-right: 0.2ch;
}
.expr.borderedTree .freeVar {
  font-style: italic;
}
.expr.symbolString {
  padding-top: 1px;
  padding-bottom: 1px;
}
.expr.symbolString .appl {
  align-items: baseline;
}
.expr.symbolString .appl.needsParens::before {
  content: "(";
}
.expr.symbolString .appl.needsParens::after {
  content: ")";
}

.prettyTree svg .leaf rect {
  fill: white;
  stroke: black;
  stroke-width: 1;
}
.prettyTree svg .leaf text {
  text-anchor: middle;
}
.prettyTree svg .edge {
  stroke: black;
}

.parseError .msg {
  color: #d61002;
  text-decoration: underline;
}
.parseError span.squiggle {
  color: #d67a02;
}
.parseError span.arr {
  color: #d61002;
}

textarea {
  width: 100%;
}

.rulesView table {
  width: auto;
}
.rulesView table tr:first-child td {
  border-top: none;
}
.rulesView table td {
  vertical-align: middle;
}
.rulesView table .ruleControls {
  visibility: hidden;
}
.rulesView table tr:hover .ruleControls {
  visibility: visible;
}

.buttonRow {
  display: flex;
  flex-direction: row;
}
.buttonRow > .btn {
  margin-right: 4px;
}

.historyView {
  font-size: smaller;
}

.arr {
  transition: transform 0.3s ease-in-out;
}
.arr.reverse {
  transform: rotate(-0.5turn);
}
.arr .feather {
  width: 18px;
  height: 18px;
}

.ruleSwatch0 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #e26f6f;
}

.expr.borderedTree .rewriteFrom0 {
  background-color: #ec9393;
}

.expr.borderedTree .rewriteTo0 {
  border: 3px solid #ae0404;
}

.expr.symbolString .rewriteFrom0 {
  border-top: 1px solid #da0b0b;
}

.expr.symbolString .rewriteTo0 {
  border-bottom: 1px solid #da0b0b;
}

.ruleSwatch1 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #6f90e2;
}

.expr.borderedTree .rewriteFrom1 {
  background-color: #93adec;
}

.expr.borderedTree .rewriteTo1 {
  border: 3px solid #0436ae;
}

.expr.symbolString .rewriteFrom1 {
  border-top: 1px solid #0b48da;
}

.expr.symbolString .rewriteTo1 {
  border-bottom: 1px solid #0b48da;
}

.ruleSwatch2 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #b2e26f;
}

.expr.borderedTree .rewriteFrom2 {
  background-color: #c7ec93;
}

.expr.borderedTree .rewriteTo2 {
  border: 3px solid #67ae04;
}

.expr.symbolString .rewriteFrom2 {
  border-top: 1px solid #84da0b;
}

.expr.symbolString .rewriteTo2 {
  border-bottom: 1px solid #84da0b;
}

.ruleSwatch3 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #e26fd3;
}

.expr.borderedTree .rewriteFrom3 {
  background-color: #ec93e1;
}

.expr.borderedTree .rewriteTo3 {
  border: 3px solid #ae0499;
}

.expr.symbolString .rewriteFrom3 {
  border-top: 1px solid #da0bc0;
}

.expr.symbolString .rewriteTo3 {
  border-bottom: 1px solid #da0bc0;
}

.ruleSwatch4 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #6fe2ce;
}

.expr.borderedTree .rewriteFrom4 {
  background-color: #93ecdd;
}

.expr.borderedTree .rewriteTo4 {
  border: 3px solid #04ae92;
}

.expr.symbolString .rewriteFrom4 {
  border-top: 1px solid #0bdab7;
}

.expr.symbolString .rewriteTo4 {
  border-bottom: 1px solid #0bdab7;
}

.ruleSwatch5 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #e2ad6f;
}

.expr.borderedTree .rewriteFrom5 {
  background-color: #ecc393;
}

.expr.borderedTree .rewriteTo5 {
  border: 3px solid #ae6004;
}

.expr.symbolString .rewriteFrom5 {
  border-top: 1px solid #da7b0b;
}

.expr.symbolString .rewriteTo5 {
  border-bottom: 1px solid #da7b0b;
}

.ruleSwatch6 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #8c6fe2;
}

.expr.borderedTree .rewriteFrom6 {
  background-color: #a993ec;
}

.expr.borderedTree .rewriteTo6 {
  border: 3px solid #2f04ae;
}

.expr.symbolString .rewriteFrom6 {
  border-top: 1px solid #3f0bda;
}

.expr.symbolString .rewriteTo6 {
  border-bottom: 1px solid #3f0bda;
}

.ruleSwatch7 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #74e26f;
}

.expr.borderedTree .rewriteFrom7 {
  background-color: #96ec93;
}

.expr.borderedTree .rewriteTo7 {
  border: 3px solid #0cae04;
}

.expr.symbolString .rewriteFrom7 {
  border-top: 1px solid #14da0b;
}

.expr.symbolString .rewriteTo7 {
  border-bottom: 1px solid #14da0b;
}

.ruleSwatch8 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #e26f95;
}

.expr.borderedTree .rewriteFrom8 {
  background-color: #ec93b0;
}

.expr.borderedTree .rewriteTo8 {
  border: 3px solid #ae043d;
}

.expr.symbolString .rewriteFrom8 {
  border-top: 1px solid #da0b51;
}

.expr.symbolString .rewriteTo8 {
  border-bottom: 1px solid #da0b51;
}

.ruleSwatch9 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #6fb7e2;
}

.expr.borderedTree .rewriteFrom9 {
  background-color: #93cbec;
}

.expr.borderedTree .rewriteTo9 {
  border: 3px solid #046fae;
}

.expr.symbolString .rewriteFrom9 {
  border-top: 1px solid #0b8dda;
}

.expr.symbolString .rewriteTo9 {
  border-bottom: 1px solid #0b8dda;
}

.ruleSwatch10 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #d8e26f;
}

.expr.borderedTree .rewriteFrom10 {
  background-color: #e5ec93;
}

.expr.borderedTree .rewriteTo10 {
  border: 3px solid #a0ae04;
}

.expr.symbolString .rewriteFrom10 {
  border-top: 1px solid #c9da0b;
}

.expr.symbolString .rewriteTo10 {
  border-bottom: 1px solid #c9da0b;
}

.ruleSwatch11 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #ca6fe2;
}

.expr.borderedTree .rewriteFrom11 {
  background-color: #d993ec;
}

.expr.borderedTree .rewriteTo11 {
  border: 3px solid #8a04ae;
}

.expr.symbolString .rewriteFrom11 {
  border-top: 1px solid #af0bda;
}

.expr.symbolString .rewriteTo11 {
  border-bottom: 1px solid #af0bda;
}

.ruleSwatch12 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #6fe2a8;
}

.expr.borderedTree .rewriteFrom12 {
  background-color: #93ecbf;
}

.expr.borderedTree .rewriteTo12 {
  border: 3px solid #04ae59;
}

.expr.symbolString .rewriteFrom12 {
  border-top: 1px solid #0bda72;
}

.expr.symbolString .rewriteTo12 {
  border-bottom: 1px solid #0bda72;
}

.ruleSwatch13 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #e2876f;
}

.expr.borderedTree .rewriteFrom13 {
  background-color: #eca593;
}

.expr.borderedTree .rewriteTo13 {
  border: 3px solid #ae2804;
}

.expr.symbolString .rewriteFrom13 {
  border-top: 1px solid #da360b;
}

.expr.symbolString .rewriteTo13 {
  border-bottom: 1px solid #da360b;
}

.ruleSwatch14 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #6f79e2;
}

.expr.borderedTree .rewriteFrom14 {
  background-color: #939aec;
}

.expr.borderedTree .rewriteTo14 {
  border: 3px solid #0413ae;
}

.expr.symbolString .rewriteFrom14 {
  border-top: 1px solid #0b1dda;
}

.expr.symbolString .rewriteTo14 {
  border-bottom: 1px solid #0b1dda;
}

.ruleSwatch15 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #9ae26f;
}

.expr.borderedTree .rewriteFrom15 {
  background-color: #b4ec93;
}

.expr.borderedTree .rewriteTo15 {
  border: 3px solid #44ae04;
}

.expr.symbolString .rewriteFrom15 {
  border-top: 1px solid #59da0b;
}

.expr.symbolString .rewriteTo15 {
  border-bottom: 1px solid #59da0b;
}

.ruleSwatch16 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #e26fbc;
}

.expr.borderedTree .rewriteFrom16 {
  background-color: #ec93ce;
}

.expr.borderedTree .rewriteTo16 {
  border: 3px solid #ae0476;
}

.expr.symbolString .rewriteFrom16 {
  border-top: 1px solid #da0b96;
}

.expr.symbolString .rewriteTo16 {
  border-bottom: 1px solid #da0b96;
}

.ruleSwatch17 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #6fdde2;
}

.expr.borderedTree .rewriteFrom17 {
  background-color: #93e8ec;
}

.expr.borderedTree .rewriteTo17 {
  border: 3px solid #04a7ae;
}

.expr.symbolString .rewriteFrom17 {
  border-top: 1px solid #0bd2da;
}

.expr.symbolString .rewriteTo17 {
  border-bottom: 1px solid #0bd2da;
}

.ruleSwatch18 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #e2c56f;
}

.expr.borderedTree .rewriteFrom18 {
  background-color: #ecd593;
}

.expr.borderedTree .rewriteTo18 {
  border: 3px solid #ae8304;
}

.expr.symbolString .rewriteFrom18 {
  border-top: 1px solid #daa60b;
}

.expr.symbolString .rewriteTo18 {
  border-bottom: 1px solid #daa60b;
}

.ruleSwatch19 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #a36fe2;
}

.expr.borderedTree .rewriteFrom19 {
  background-color: #bb93ec;
}

.expr.borderedTree .rewriteTo19 {
  border: 3px solid #5204ae;
}

.expr.symbolString .rewriteFrom19 {
  border-top: 1px solid #6a0bda;
}

.expr.symbolString .rewriteTo19 {
  border-bottom: 1px solid #6a0bda;
}

.ruleSwatch20 {
  width: 1.2ex;
  height: 1.2ex;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #6fe282;
}

.expr.borderedTree .rewriteFrom20 {
  background-color: #93eca1;
}

.expr.borderedTree .rewriteTo20 {
  border: 3px solid #04ae20;
}

.expr.symbolString .rewriteFrom20 {
  border-top: 1px solid #0bda2d;
}

.expr.symbolString .rewriteTo20 {
  border-bottom: 1px solid #0bda2d;
}
