$term-hpad: 0.2ch;

.expr {
    display: flex;

    .appl {
        margin: 1px;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .term, .freeVar {
        margin-top: 0.1ch;
        padding: $term-hpad;

        &:first-child {
            margin-left: $term-hpad;
        }

        &:last-child {
            margin-right: $term-hpad;
        }
    }

    .freeVar {
        font-style: italic;
    }
}

$error-color: #d61002;

.parseError {
    .msg {
        color: $error-color;
        text-decoration: underline;

    }
    span.squiggle {
        color: #d67a02;
    }
    span.arr {
        color: $error-color;
    }
}

textarea {
    width: 100%;
}

.rulesView table {
    width: auto;

    tr:first-child {
        td {
            border-top: none;
        }
    }

    td {
        vertical-align: middle;

    }
}

.buttonRow {
    display: flex;
    flex-direction: row;

    > .btn {
        margin-right: 4px;
    }
}

.historyView {
    font-size: smaller;
}
