$term-hpad: 0.2ch;

.expr {
    display: flex;

    .appl {
        margin: 1px;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .term, .freeVar {
        padding: $term-hpad;

        &:first-child {
            margin-left: $term-hpad;
        }

        &:last-child {
            margin-right: $term-hpad;
        }
    }

    .freeVar {
        font-style: italic;
    }
}

$error-color: #d61002;

.parseError {
    .msg {
        color: $error-color;
        text-decoration: underline;

    }
    span.squiggle {
        color: #d67a02;
    }
    span.arr {
        color: $error-color;
    }
}

textarea {
    width: 100%;
}

.rulesView table {
    width: auto;

    tr:first-child {
        td {
            border-top: none;
        }
    }

    td {
        vertical-align: middle;

    }
}

.buttonRow {
    display: flex;
    flex-direction: row;

    > .btn {
        margin-right: 4px;
    }
}

.historyView {
    font-size: smaller;
}

// advance hue by the inv of the golden ratio each step
$hue-step: 360deg * 0.618033988749895;

@for $i from 0 through 20 {
    $rw-hue: ($i * $hue-step) % 360deg;
    .rule-swatch-#{$i} {
        width: 1.2ex;
        height: 1.2ex;
        border: 1px solid gray;
        border-radius: 50%;
        background-color: hsl($rw-hue, 66%, 66%);
    }

    .rewrite-from-#{$i} {
        background-color: hsl($rw-hue, 70%, 75%);
    }

    .expr .appl.rewrite-to-#{$i} {
        border: 3px solid hsl($rw-hue, 95%, 25%);
    }
}
